[submodule "lib/the_Foundation"]
	path = lib/the_Foundation
	url = https://git.skyjake.fi/skyjake/the_Foundation
[submodule "lib/fribidi"]
	path = lib/fribidi
	url = https://github.com/fribidi/fribidi.git
[submodule "lib/harfbuzz"]
	path = lib/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "lib/sealcurses"]
	path = lib/sealcurses
	url = https://git.skyjake.fi/skyjake/sealcurses
